@import './container.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    width: 100%;
    height: auto;
    background-color: #ECEDEF;
    font-family: "Montserrat", sans-serif;
}